@CHARSET "ISO-8859-1";
.img-fundadores
{
	width: 239px;
	height: 239px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}
.navbar-default.navbar-shrink {
    padding: 0;
    background-color: #f8f8f8;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #23527c;
}
.container-fundador{
	padding-top: 55px;
}