<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="/plugins/materialize/css/materialize.min.css">

    <!-- DataTable-->
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/plugins/dataTables/media/css/jquery.dataTables.css">

    <!-- CSS da aplicação -->
    <link type="text/css" rel="stylesheet" href="/app/assets/css/app.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
</head>

<body ng-app="pro300App">

    <ul id="slide-out" class="side-nav" ng-controller="MenuController" ng-init="init()">
        <li>
            <div class="user-view">
                <!--<div class="background">-->
                <!--    <img src="/app/assets/img/logo-newton.png">-->
                <!--</div>-->
                <!--<a href="#!user"><img class="circle" src="/app/assets/img/logo-newton.png"></a>-->
                <a href="#!user"><img src="/app/assets/img/logo-newton.png"></a>
                <a href="#!name"><span class="name">{{usuario.nome}}</span></a>
                <a href="#!email"><span class="email">{{usuario.email}}</span></a>
                <!--<a href="#!perfil"><span>{{usuario.perfil}}</span></a>-->
            </div>
        </li>
        <li ng-repeat="item in itensMenu"><a href="{{item.url}}"><i class="material-icons">chevron_right</i>{{item.descricao}}</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Mais opções</a></li>
        <li>
            <a class="waves-effect" href="#!/Fundadores">
                <i class="material-icons left">sentiment_very_satisfied</i>Fundadores do sistema
            </a>
        </li>
        <li>
            <a class="waves-effect" ng-click="logout()">
                <i class="material-icons left">close</i>Sair do sistema
            </a>
        </li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a id="button-menu" class="btn-floating btn-large waves-effect waves-light red" data-activates="slide-out">
                <i class="material-icons">menu</i>
            </a>
            <label class="brand-logo" style="margin: 0 0 0 10px">Projeto 300</label>
        </div>
    </nav>

    <main>
        <div class="section">
            <div class="container">
                <ng-view></ng-view>
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Sistemas de Informação - Newton Paiva</h5>
                    <p class="grey-text text-lighten-4">Sistema desenvolvido pelos alunos do curso de Sistemas de Informação.</p>
                </div>
            </div>
        </div>
    </footer>

    <!--jQuery -->
    <script type="text/javascript" src="/plugins/jquery/jquery.js"></script>

    <!--DataTables-->
    <script type="text/javascript" src="/plugins/dataTables/media/js/jquery.dataTables.js"></script>

    <!-- JQuery Validate -->
    <script type="text/javascript" src="/plugins/jquery-validate/jquery.validate.min.js"></script>

    <!-- Formatter -->
    <script type="text/javascript" src="/plugins/formatter/jquery.formatter.min.js"></script>
    <script type="text/javascript" src="/plugins/formatter/formatter.min.js"></script>

    <!-- Materialize -->
    <script src="/plugins/materialize/js/materialize.min.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/plugins/angular-route/angular-route.min.js"></script>

    <!-- Moment -->
    <script type="text/javascript" src="/plugins/moment/moment.min.js"></script>

    <!-- Serviços da aplicação -->
    <script type="text/javascript" src="/app/services/DialogService.js"></script>
    <script type="text/javascript" src="/app/services/SelectService.js"></script>
    <script type="text/javascript" src="/app/services/TableService.js"></script>
    <script type="text/javascript" src="/app/services/ValidationService.js"></script>
    <script type="text/javascript" src="/app/services/DataService.js"></script>
    <script type="text/javascript" src="/app/services/AuthService.js"></script>
    <script type="text/javascript" src="/app/services/CursoService.js"></script>
    <script type="text/javascript" src="/app/services/AtividadeService.js"></script>
    <script type="text/javascript" src="/app/services/InscricaoService.js"></script>

    <!--Controllers da aplicação-->
    <script type="text/javascript" src="/app/controllers/LoginController.js"></script>
    <script type="text/javascript" src="/app/controllers/MenuController.js"></script>
    <script type="text/javascript" src="/app/controllers/UsuarioController.js"></script>
    <script type="text/javascript" src="/app/controllers/ListagemAtividadeController.js"></script>
    <script type="text/javascript" src="/app/controllers/CadastroAtividadeController.js"></script>
    <script type="text/javascript" src="/app/controllers/InscricaoController.js"></script>
    <script type="text/javascript" src="/app/controllers/InscricoesController.js"></script>

    <!--Configurações da aplicação-->
    <script type="text/javascript" src="/app/routes.js"></script>
    <script type="text/javascript" src="/app/config.js"></script>
</body>
</html>