<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">


    <!-- CSS da aplicação -->
    <link type="text/css" rel="stylesheet" href="/css/app.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
</head>

<body ng-app="pro300App">
    <!--header>
    <a href="#!" class="brand-logo">
        <img src="/app/img/logo_mini.jpg"></img>
    </a>
</header-->

    <!-- Dropdown Structure 
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="sass.html">Alterar dados pessoais</a></li>
        <li><a href="sass.html">Editar Professor</a></li>
        <li><a href="sass.html">Editar Atividade</a></li>
        <li><a href="sass.html">Editar Parâmetros</a></li>
        <li><a href="sass.html">Avaliação</a></li>
        <li class="divider"></li>
        <li><a href="sass.html">Fundadores</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Alterar dados pessoais<i class="material-icons right">perm_identity</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Opções<i class="material-icons right">view_list</i></a></li>
            </ul>
        </div>
    </nav>
    -->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <i class="material-icons">done</i> Projeto {{100 * 3}}
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">perm_identity</i>Alterar dados pessoais</a></li>
                <li><a href="sass.html"><i class="material-icons left">mode_edit</i>Editar Professor</a></li>
                <li><a href="sass.html"><i class="material-icons left">mode_edit</i>Editar Atividade</a></li>
                <li><a href="sass.html"><i class="material-icons left">mode_edit</i>Editar Parâmetros</a></li>
                <li><a href="sass.html"><i class="material-icons left">assignment</i>Avaliação</a></li>
                <li><a href="sass.html"><i class="material-icons left">person_pin</i>Fundadores</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container" ng-controller="AtividadeController">
            <div class="row">
                <div clas="col s12">
                    <h5>{{usuario.id == undefined ? 'Nova atividade 300' : 'Alterar atividade 300'}}</h5>
                    <!--p>A bunch of text</p-->
                    <form name="myForm">
                        <input type="hidden" ng-model="atividade.id" />
                        <div class="input-field">
                            <input id="input-nome" type="text" name="nome" ng-model="atividade.nome" required minlenght="1" class="validate" />
                            <label for="input-nome" data-error="wrong" data-success="right">Nome</label>
                        </div>
                        <div input-field>
                            <textarea ng-model="atividade.descricao" class="materialize-textarea" maxlength="500" required></textarea>
                            <label>Descrição</label>
                        </div>
                        <div class="input-field">
                            <label for="dt-inicio">Data de inicio</label>
                            <input type="date" name="dt-inicio" id="dt-inicio" ng-model="atividade.dataInicio" class="datepicker" required/>
                        </div>
                        <div input-field>
                            <label for="dt-fim">Data fim</label>
                            <input input-date type="text" name="dt-fim" id="dt-fim" ng-model="atividade.dataFim" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}"
                                disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()"
                                on-stop="onStop()" required/>
                        </div>
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
                        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="salvar()">Salvar</a>
                    </form>
                </div>
            </div>
        </div>
    </main>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Sistemas de Informação - Newton Paiva</h5>
                    <p class="grey-text text-lighten-4">Sistema desenvolvido pelos alunos do curso de Sistemas de Informação.</p>
                </div>
                <!--div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div-->
            </div>
        </div>
        <!--div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div-->
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>


    <!-- AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <!-- Moment -->
    <script type="text/javascript" src="/js/moment/moment.min.js"></script>

    <!-- Your app -->
    <script type="text/javascript" src="/js/controller/AtividadeController.1.js"></script>
    <script type="text/javascript" src="/js/app.1.js"></script>
</body>

</html>
