<div class="container" ng-init="init()">
    <div class="row">
        <div clas="col s12">

            <form id="formRecuperar" ng-submit="recuperar()">
                <div class="input-field">
                    <i class="material-icons prefix"></i>
                    <input id="input-usuario" type="email" name="email" ng-model="usuario.email" />
                    <label for="input-usuario">e-mail (Obrigatório)</label>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" type="submit">
                        Enviar<i class="material-icons right">send</i>
                    </button>
        </div>
        </form>

    </div>
</div>
</div>
