<head>
    <link type="text/css" rel="stylesheet" href="/app/assets/css/style.css">
</head>
<body>
<div class="container" ng-init="init()">
    
    <h3>Fundadores</h3>
    <p>
        Raphael Vasconcellos - Aluno <br/>
        Tarley Lana - Orientador/Professor <br/>
        Allan - Idealizador/Professor <br/>
        Rafael Augusto - Aluno
    </p>
    <table>
        <tr>
            <td>
                <img src="app/img/pessoa.png">José Maria<br/></img>
                Desenvolvedor<br/>
                Front End
            </td>
            <td>
                <img src="app/img/pessoa.png">Joaozinho - Aluno</img>
            </td>
            <td>
               <img src="app/img/pessoa.png">Lucio Filho</img> 
            </td>
            <td>
                <img src="app/img/pessoa.png">Tarcisio Pires</img>
            </td>
            <td>
                <img src="app/img/pessoa.png">Antonio</img>
            </td>
            <td>
                <img src="app/img/pessoa.png">Joaozinho - Aluno</img>
            </td>
            <td>
               <img src="app/img/pessoa.png">Lucio Filho</img> 
            </td>
            <td>
                <img src="app/img/pessoa.png">Tarcisio Pires</img>
            </td>
            <td>
                <img src="app/img/pessoa.png">Antonio</img>
            </td>
            
        </tr>
    </table>
    
</div>
</body>