<head>
    <link type="text/css" rel="stylesheet" href="/app/assets/css/style.css">
</head>
<body>
<div class="container" ng-init="init()">
    
    <p>
        O Projeto 300 consiste em auxiliar os professores na recuperação de notas dos alunos dos cursos de Engenharia do Centro Universitário.
    </p>
    
    
    <h3 class="titulo-fundadores">Fundadores</h3>
    
    <table>
        <tr>
            <td>
                <img class="imagem-fundadores" src="app/img/pessoa.png">José Maria<br/></img>
                
            </td>
            <td>
                <img class="imagem-fundadores" src="app/img/rafael.jpg">Rafael Augusto - Aluno</img>
            </td>
            <td>
               <img class="imagem-fundadores" src="app/img/iago.jpg">Iago de Jesus -Aluno</img> 
            </td>
            <td>
                <img class="imagem-fundadores" src="app/img/raphael.jpg">Raphael Vasconcellos - Aluno</img>
            </td>
            <td>
                <img src="app/img/pessoa.png">Antonio</img>
            </td>
            <td>
                <img src="app/img/pessoa.png">Joaozinho - Aluno</img>
            </td>
            
            
        </tr>
    </table>
    
</div>
</body>