<head>
    <link type="text/css" rel="stylesheet" href="/app/assets/css/style.css">
</head>
<body>
<div class="container" ng-init="init()">
    
    <h3 class="titulo-fundadores">Sobre</h3>
    <h5 class=fundo-fundadores>
        O Projeto 300 consiste em auxiliar os professores na recuperação de notas dos alunos dos cursos de Engenharia do Centro Universitário.
        <br/>
        <br/>
        <br/>
    </h5>
    
    
    <h3 class="titulo-fundadores">Fundadores</h3>
    
    <table>
        <tr>
            <td>
                <img class="imagem-fundadores" src="app/img/allan.jpg"><br/>Allan Ferreira<br/> Idealizador</img>
                
            </td>
            <td>
                <img class="imagem-fundadores" src="app/img/tarley.jpg"><br/>Tarley Lana<br/> Orientador</img>
                
            </td>
            <td>
                <img class="imagem-fundadores" src="app/img/raphael.jpg"><br/>Raphael Vasconcellos<br/> Desenvolvedor</img>
            </td>
            <td>
                <img class="imagem-fundadores" src="app/img/rafael.jpg"><br/>Rafael Augusto<br/> Aluno</img>
            </td>
            <td>
               <img class="imagem-fundadores" src="app/img/iago.jpg"><br/>Iago Duarte<br/> Aluno</img> 
            </td>
            
            
            
        </tr>
    </table>
    
</div>
</body>