<div class="container">
    <div class="section">
        <h4>Sobre</h4>
        <p>O Projeto 300 consiste em auxiliar os professores na recuperação de notas dos alunos dos cursos de Engenharia do Centro Universitário.</p>
    </div>
    <div class="divider"></div>
        <div class="section">
        <h4>Fundadores</h4>
        <div class="row center">
            <div class="col s2">
                <img class="imagem-fundadores" src="app/assets/img/fundadores/allan.jpg"></img>
            </div>
            <div class="col s2">
                <img class="imagem-fundadores" src="app/assets/img/fundadores/tarley.jpg"></img>
            </div>
            <div class="col s2">
                <img class="imagem-fundadores" src="app/assets/img/fundadores/raphael.jpg"></img>
            </div>
            <div class="col s2">
                <img class="imagem-fundadores" src="app/assets/img/fundadores/rafael.jpg"></img>
            </div>
            <div class="col s2">
                <img class="imagem-fundadores" src="app/assets/img/fundadores/iago.jpg"></img>
            </div>
        </div>
        <div class="row center">
            <div class="col s2">
                Allan Ferreira<br/>Idealizador
            </div>
            <div class="col s2">
                Tarley Lana<br/>Orientador
            </div>
            <div class="col s2">
                Raphael Vasconcellos<br/>Desenvolvedor
            </div>
            <div class="col s2">
                Rafael Augusto<br/>Analista de teste
            </div>
            <div class="col s2">
                Iago Duarte<br/>Analista de teste
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light blue darken-4" type="button" ng-click="voltar()">Voltar</button>
    </div>
</div>