body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.erro {
    color: #F44336;
    opacity: 1;
    font-size: .8rem;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    /*font-weight: bold;*/
    font-weight: normal;
}

#div-select-curso {
    margin: 10px 0px 40px 0px;
}

#div-botoes {
    margin: 40px 0px 0px 0px;
}

#grupo {
    width:25px;
    text-transform: uppercase;
}

#p1, #p300, #pFinal {
    width: 50px;
}

.container-listagem {
    width: 90%;
}

/*ul.side-nav.leftside-navigation*/ 
#slide-out{
    top: 64px;
    overflow: hidden;
}

.fundo-fundadores {
    font:arial;
    font-size:20px;
    border-bottom: 1px solid;
}
.titulo-fundadores {
    color: black;
    text-align: center;   
}
.imagem-fundadores {
   padding-left: 10px;
   text-align: center;
   border-radius: 20px;
}