.fundo-fundadores {
    font:arial;
    font-size:20px;
    border-bottom: 1px solid;
}
.titulo-fundadores {
    color: black;
    text-align: center;   
}
.imagem-fundadores {
   padding-left: 10px;
   text-align: center;
}