<div class="container container-listagem" ng-init="init()">
    <form id="formInscricoes" ng-submit="salvar()">
        <div class="row">
            <div class="col s12">
                <h5>Inscrições realizadas para a atividade {{atividade.nome}}</h5>
                <p></p>
                <table id="table-inscricoes" class="highlight">
                    <thead>
                        <tr>
                            <th>RA</th>
                            <th>Aluno</th>
                            <th>Grupo</th>
                            <th>Lider?</th>
                            <th>P. 1</th>
                            <th>P. 300</th>
                            <th class="center-align">Acréscimo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="lista.length > 0" ng-repeat="i in lista">
                            <td>{{i.ra}}</td>
                            <td>{{i.aluno}}</td>
                            <td>
                                <input id="grupo" type="text" ng-model="i.grupo" maxlength="1" ng-readonly="avaliacaoDosColegasIniciada()"/>
                            </td>
                            <td>
                                <input id="lider-{{i.id}}" type="checkbox" ng-model="i.lider" ng-checked="i.lider == 1" ng-disabled="avaliacaoDosColegasIniciada()" />
                                <label for="lider-{{i.id}}"></label>
                            </td>
                            <td><input id="p1" string-to-number type="number" ng-model="i.nota1" step="0.01" ng-readonly="avaliacaoDosColegasIniciada()" /></td>
                            <td><input id="p300" string-to-number type="number" ng-model="i.nota300" step="0.01"  /></td>
                            <td class="center-align">{{(i.nota300 != null && i.nota1 != null) ? i.nota300 - i.nota1 : 0}}</td>
                            <td>
                                <a ng-click="excluir(i.id)" class="btn-floating red" ng-hide="avaliacaoDosColegasIniciada()">
                                    <i class="material-icons left">close</i>
                                </a>
                            </td>
                            <td>
                                <span ng-show="i.lider != 1" class="new badge" data-badge-caption="Avaliação(ões) pendente(s)">
                                    {{i.totalAvaliacoesPendentes}}
                                </span>
                                
                                <a ng-show="i.lider == 1" ng-click="visualizarAvaliacoes(i.id, i.ra, i.aluno)">
                                    <span class="new badge blue" data-badge-caption="Visualizar avaliações"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="div-botoes" class="row">
            <button class="btn waves-effect waves-light" type="button" ng-click="gerarGrupos()" ng-hide="avaliacaoDosColegasIniciada()">Gerar grupos</button>
            <button class="btn waves-effect waves-light" type="submit">Salvar</button>
            <button class="btn waves-effect waves-light" type="button" ng-click="iniciarAvaliacaoColegas()" ng-hide="avaliacaoDosColegasIniciada()">Iniciar avaliação dos colegas</button>
            <button class="btn waves-effect waves-light" type="button" ng-click="calcularNotasLideres()" ng-show="avaliacaoDosColegasIniciada()">Calcular notas dos lideres</button>
            <button class="btn waves-effect waves-light" type="button" ng-click="voltar()">Voltar</button>
        </div>
    </form>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Lider: {{nomeLider}}</h4>
        <h5>RA: {{raLider}}</h5>
        <h5>Nota Media: {{notaMedia}}</h5>
        <p>Segue abaixo a notas dadas para o lider.</p>
        <table>
            <thead>
                <tr>
                    <th>RA</th>
                    <th>Nome</th>
                    <th>e-mail</th>
                    <th>Telefone</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in listaAvaliacoes">
                    <td>{{a.ra}}</td>
                    <td>{{a.aluno}}</td>
                    <td>{{a.email}}</td>
                    <td>{{formatarTelefone(a.telefone)}}</td>
                    <td>{{a.nota}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>