<div ng-init="init()">
    <form id="formInscricoes" ng-submit="salvar()">
        <div class="row">
            <div class="col s12">
                <h5>Inscrições realizadas para a atividade {{atividade.nome}}</h5>
                <p></p>
                <table id="table-inscricoes" class="highlight">
                    <thead>
                        <tr>
                            <th>RA</th>
                            <th>Aluno</th>
                            <!--th>Dt. Registro</th>
                        <th>Dt. Inicio</th>
                        <th>Dt. Termino</th-->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-hide="lista.length > 0">-->
                        <!--    <td colspan="3">Não existem inscrições para essa atividade.</td>-->
                        <!--</tr>-->
                        <tr ng-show="lista.length > 0" ng-repeat="i in lista">
                            <td>{{i.ra}}</td>
                            <td>{{i.aluno}}</td>
                            <!--td>{{.dt_registro}}</td>
                        <td>{{a.dt_inicio}}</td>
                        <td>{{a.dt_termino}}</td-->
                            <td>
                                <a ng-click="excluir(i.id)" class="btn-floating red">
                                    <i class="material-icons left">close</i>
                                </a>
                                <!--button class="btn waves-effect waves-light" type="button" ng-click="inscrever(a.id, a.nome)">
                                <i class="material-icons left">check</i>
                                Inscrever
                            </button-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="div-botoes" class="row">
            <!--button class="btn waves-effect waves-light" type="reset">Limpar</button-->
            <button class="btn waves-effect waves-light" type="submit">Salvar</button>
            <button class="btn waves-effect waves-light" type="button" ng-click="voltar()">Voltar</button>
        </div>
    </form>
</div>
