<div class="container container-listagem" ng-init="init()">
    <div class="row">
        <div clas="col s12">
            <a class="waves-effect waves-light btn" ng-click="novaInscricao()">
                <i class="material-icons left">add</i>Nova inscrição
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Dt. Registro</th>
                        <th>Grupo</th>
                        <th>Lider</th>
                        <th>P. 1</th>
                        <th>P. 300</th>
                        <th>P. Final</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="lista.length > 0">
                        <td colspan="10">Não existem inscrições para atividades 300.</td>
                    </tr>
                    <tr ng-show="lista.length > 0" ng-repeat="a in lista">
                        <td>{{a.id}}</td>
                        <td>{{a.nome}}</td>
                        <td>{{a.curso}}</td>
                        <td>{{a.dt_registro}}</td>
                        <td>{{a.grupo}}</td>
                        <td>{{a.lider == 1 ? 'Sim' : 'Não'}}</td>
                        <td>{{a.nota1}}</td>
                        <td>{{a.nota300}}</td>
                        <td>{{a.nota_final}}</td>
                        <td>
                            <a ng-click="avaliarLider(a.id, a.totalAvaliacoesPendentes)">
                                <span class="new badge" data-badge-caption="Avaliação(ões) pendênte(s)">{{a.totalAvaliacoesPendentes}}</span>
                            </a>
                            <!--a ng-click="editar(a.id)" class="btn-floating red">
                                <i class="material-icons left">edit</i>
                            </a-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
