<div class="container container-listagem" ng-init="init()">
    <div class="row">
        <div clas="col s12">
            <a class="btn-floating btn-large waves-effect waves-light red" ng-click="novaAtividade()">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Dt. Registro</th>
                        <th>Dt. Inicio</th>
                        <th>Dt. Termino</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="lista.length > 0">
                        <td colspan="7">Não existem atividades 300 cadastradas para o seu usuário.</td>
                    </tr>
                    <tr ng-show="lista.length > 0" ng-repeat="a in lista">
                        <td>{{a.id}}</td>
                        <td>{{a.nome}}</td>
                        <td>{{a.curso}}</td>
                        <td>{{a.dt_registro}}</td>
                        <td>{{a.dt_inicio}}</td>
                        <td>{{a.dt_termino}}</td>
                        <td>
                            <a ng-click="editar(a.id)" class="btn-floating red">
                                <i class="material-icons left">edit</i>
                            </a>
                            <a ng-click="visualizarInscricoes(a.id)" class="btn-floating red">
                                <i class="material-icons left">dehaze</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>