<div class="container container-listagem" ng-init="init()">
    <div class="row">
        <div clas="col s12">
            <a class="waves-effect waves-light btn" ng-click="novaInscricao()">
                <i class="material-icons left">add</i>Nova inscrição
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Dt. Registro</th>
                        <th>Grupo</th>
                        <th>Lider</th>
                        <th>P. 1</th>
                        <th>P. 300</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="lista.length > 0">
                        <td colspan="10">Não existem inscrições para atividades 300.</td>
                    </tr>
                    <tr ng-show="lista.length > 0" ng-repeat="a in lista">
                        <td>{{a.id}}</td>
                        <td>{{a.nome}}</td>
                        <td>{{a.curso}}</td>
                        <td>{{a.dt_registro}}</td>
                        <td>
                            <a ng-show="a.grupo" ng-click="exibirInformacoesGrupo(a.id, a.grupo)">
                                <span class="new badge blue" data-badge-caption="">{{a.grupo}}</span>
                            </a>
                        </td>
                        <td>{{a.lider == 1 ? 'Sim' : 'Não'}}</td>
                        <td>{{a.nota1}}</td>
                        <td>{{a.nota300}}</td>
                        <td>
                            <a ng-click="avaliarLider(a.id, a.totalAvaliacoesPendentes)">
                                <span ng-class="{'red': a.totalAvaliacoesPendentes > 0}" class="new badge" data-badge-caption="Avaliação(ões) pendente(s)">{{a.totalAvaliacoesPendentes}}</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Grupo {{grupo}}</h4>
        <p>Abaixo estão os alunos que fazem parte do seu grupo.</p>
        <table>
            <thead>
                <tr>
                    <th>RA</th>
                    <th>Nome</th>
                    <th>e-mail</th>
                    <th>Telefone</th>
                    <th>Lider?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="g in listaGrupo">
                    <td>{{g.ra}}</td>
                    <td>{{g.nome}}</td>
                    <td>{{g.email}}</td>
                    <td>{{formatarTelefone(g.telefone)}}</td>
                    <td>{{g.lider == 1 ? 'Sim': 'Não'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>
